---
layout: page
---
<span class="meta"><i>{{ page.date | date: "%B %-d, %Y" }}</i></span>
</div>

<!-- Post Content -->
<article>
    <div class="container newspost">
        <div class="row">
            <div class="col">

                {{ content }}

            </div>
        </div>
    </div>
</article>

